<section class="full-white">
    <md-bar>
        <side-panel>

        </side-panel>
        <main-panel>
            <h3>Edit $Class$</h3>
        </main-panel>
    </md-bar>
    <md-layout>
        <side-panel class="border-right">
            <nav-list>
                <menu-item>
                    <span class="icon-$icon$ header primary accent"></span>
                    <span></span>
                </menu-item>
                <menu-item>
                    <a href="/$Class$/List/1" class="flex-box align-center">
                        <span class="icon-search main icon"></span>
                        <span class="hide-span-medium-down">$ClassPlural$</span>
                    </a>
                </menu-item>
            </nav-list>
        </side-panel>
        <main-panel class="padding" scroll>
              {#entity}
                <silicon-form class="md form-width" service="$Class$" notify-service="Notify" success-message="$Class$ Updated">
                    <form role="form" method="put" name="$Class$" location-service="Location" redirect-previous-location="true">
                        <input type="hidden" name="id" value="{id}">

                        <md-input icon="edit" prefix="prefix" type="text" required placeholder="Name" data-id="name" data-name="name" data-value="{name}"></md-input>
                        <md-submit class="primary margin-top two" raised="true">Submit</md-submit>
                    </form>
                </silicon-form>
               {/entity}
               {^entity}
                    <p style="padding:1em;">There is no record currently associated with the requested id...</p>
               {/entity}
        </main-panel>
    </md-layout>
</section>
