<section class="content">
    <silicon-form class="md form-width" service="$Class$" notify-service="Notify" success-message="$Class$ Created"  location-service="Location" redirect-previous-location="true">
        <form role="form" method="post" name="$Class$">
            <md-input icon="edit" prefix="prefix" type="text" required placeholder="Name" data-id="name" data-name="name"></md-input>
            <md-submit class="primary margin-top two" raised="true">Save</md-submit>
        </form>
    </silicon-form>
</section>
