<section class="full-white">
    <md-bar>
        <side-panel>

        </side-panel>
        <main-panel>
            <h3>View Title</h3>
        </main-panel>
    </md-bar>
    <md-layout>
        <side-panel class="border-right">
            <nav-list>
                <menu-item>
                    <span class="icon-edit header primary accent"></span>
                    <span></span>
                </menu-item>
                <menu-item>
                    <a href="" class="flex-box align-center">
                        <span class="icon-search main icon"></span>
                        <span class="hide-span-medium-down"></span>
                    </a>
                </menu-item>
            </nav-list>
        </side-panel>
        <main-panel class="padding" scroll>

        </main-panel>
    </md-layout>
</section>
