<section class="fill-white">
    <md-bar>
        <side-panel>

        </side-panel>
        <main-panel>
            <h3>View Title</h3>
        </main-panel>
    </md-bar>
    <md-layout>
        <side-panel class="border-right">
            <nav-list>
                <menu-item>
                  <iron-icon icon="build" class="header-icon"></iron-icon>
                </menu-item>
                <menu-item>
                    <a href="" class="flex-box align-center">
                      <iron-icon icon="build" class="main icon"></iron-icon>
                      <span class="hide-span-medium-down"></span>
                    </a>
                </menu-item>
            </nav-list>
        </side-panel>
        <main-panel class="padding" scroll>

        </main-panel>
    </md-layout>
</section>
